@import "tailwindcss";

:root {
  /* Cores em HSL Puro para opacidade funcionar */
  --background: 337 100% 6.5%; 
  --foreground: 0 0% 93%;
  --primary: 338 100% 50%;
  --secondary: 339 100% 4%;
  --muted: 0 0% 48%;
  --wrapper: 334 22% 19%;
  --border: 0 0% 73%;
}

@theme {
  /* Mapeamento de Cores */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-muted: hsl(var(--muted));
  --color-wrapper: hsl(var(--wrapper));
  --color-border: hsl(var(--border));

  /* Mapeamento de Fontes - O Tailwind v4 busca essas variáveis no escopo global */
  --font-sans: var(--font-dm-sans);
  --font-harmattan: var(--font-harmattan);
}

/* Forçar aplicação no Body */
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-dm-sans), ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}